@import "./variables.css";

@import "./components/LeftPanel/LeftPanel.css";
@import "./components/CenterPanel/CenterPanel.css";
@import "./components/RightPanel/RightPanel.css";

@import "./components/TopBar/TopBar.css";
@import "./components/BottomBar/BottomBar.css";

@import "./components/Button/Button.css";

@import "./pages/VisualizerPage.css";
@import "./pages/HomePage.css";

@import "./components/SVGViews/SVGViews.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color:transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--bg-scroll);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-scroll-hover);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--bg-scroll-hover);
}

body {
  margin: 0;
  font-family: "Quantico", sans-serif;
}


hr {
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--border-color),
    transparent
  );
  margin: 24px 0;
}


.input {
  all: unset;
  flex: 1;
  background: var(--bg-bar);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 2px 20px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}


input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: var(--border-color);
  border-radius: 30px;
  border: 0px solid #cbd5e1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--bg-scroll);
  border-radius: 30px;
  border: 2px solid var(--bg-scroll);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.5);
  margin-top: -4px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--bg-scroll-hover);
  border: 2px solid var(--bg-scroll-hover);
}