:root {
  --bg-page: #151515;
  --bg-layout: #101010;
  --bg-panel: #101010;
  --bg-bar: #202020;

  --bg-scroll-hover: #ffffff;
  --bg-scroll: #999999;

  --border-color: #303030;
  --text-color: #ccc;

  --svg-stroke: #fff;
  --svg-text: #ccc;

}

.light {
--bg-page: #EAEAEA;
  --bg-layout: #EFEFEF;
  --bg-panel: #EFEFEF;
  --bg-bar: #DFDFDF;


  --bg-scroll-hover: #000000;
  --bg-scroll: #999999;

  --border-color: #E0E0E0;
  --text-color: #333;

  --svg-stroke: #000;
  --svg-text: #000;
}