@import "../components/HomeCard/HomeCard.css";
.home-page {

  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;

  background-color: var(--bg-page);
  color: var(--text-color)
}

.home-page header {
    font-size: 5em;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    margin-top: 50px;
}
