#top-bar {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    column-gap: 20px;
    padding: 0 40px;
    align-content: center;

    height: 100%;
} 

#top-bar > header {
    display: flex;
    align-items: center;
}

header {
    font-size: 1.5em;
}
