button {
  all: unset;           /* removes nearly all default styles */
  cursor: pointer;      /* keep pointer for clickability */
}

button {
    padding: 10px;
    background-color: var(--bg-bar);
    border: none;
    border-radius: 10px;
    color: var(--text-color);

    display:flex;

    justify-content: center;
    align-content: center;
    text-align: center;
}


.icon {
    width: 1em;
    height: 1em;

    margin: 0 5px;

    vertical-align: middle;
    object-fit: contain;
}

button:hover {
    background-color: var(--bg-panel);
    box-shadow: 2px 2px 10px rgba(64, 64, 64, 1);
}